SECRET_KEY_BASE:
SERVER_URL: 'localhost:3000'
CONFIRM_SUCCESS_URL: 'localhost:3000'
PASSWORD_RESET_URL: 'localhost:3000'
MAILER_USERNAME:
MAILER_PASSWORD:
MAIL_SENDER: 'no-reply@api.com'
AWS_ACCESS_KEY_ID:
AWS_SECRET_ACCESS_KEY:
S3_BUCKET_NAME:
AWS_BUCKET_REGION:
