default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username:
  password:
  host: localhost
  port: 5432

development:
  <<: *default
  database: my_app_development

test:
  <<: *default
  database: my_app_test

qa:
  <<: *default
  database: my_app_qa

staging:
  <<: *default
  database: my_app_staging

production:
  <<: *default
  database: my_app_production
